---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.jsx";

changeLanguage("en");
---

<Layout>
	<main class="p-2">
		<Nav client:load />
	</main>
</Layout>

<script>
	import { soundManager } from "../sounds/soundManager";

	const linkSignup = document.querySelector("#link-signup");
	const linkSignin = document.querySelector("#link-signin");
	const selectLanguage = document.querySelector("select");

	linkSignin.addEventListener("mouseover", () => {
		soundManager("hover");
	});
	linkSignup.addEventListener("mouseover", () => {
		soundManager("hover");
	});
	selectLanguage.addEventListener("click", () => {
		soundManager("click");
	});

	selectLanguage.addEventListener("change", () => {
		if (!(selectLanguage.value === "es")) {
			window.location.href = "/";
		} else {
			window.location.href = "/es";
		}
	});
</script>
