---

---

<section
	id="profile"
	class="flex flex-col p-2 rounded-md border border-gray-400 m-2"
>
</section>
<script>
	import supabase from "../supabase/client";

	const { data } = await supabase.auth.getUser();

	const section = document.querySelector("section#profile");

	if (data) {
		const titleProfile = document.createElement("h2");
		titleProfile.classList.add("text-1xl");
		titleProfile.innerText = `Profile's ${data.user.user_metadata.username}`;

		const fullname = document.createElement("p");
		fullname.classList.add("text-sm");
		fullname.innerText = `fullname: ${data.user.user_metadata.fullname}`;

		const email = document.createElement("p");
		email.classList.add("text-sm");
		email.innerText = `email: ${data.user.email}`;

		section.append(titleProfile);
		section.append(fullname);
		section.append(email);
	}
</script>
