---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";
import { localizePath } from "astro-i18next";

changeLanguage("es");

const languages = {
    en: t("languages.title_en"),
    es: t("languages.title_es"),
};
---

<Layout>
	<main class="p-2">
		<nav class="flex justify-between">
			<h1 class="text-black text-3xl italic">{t("landing.brand")}</h1>
			<div class="p-2 flex gap-2">
				<select
					name="language"
					id="language"
					class="border-2 rounded-md"
				>
					<option disabled selected>{t("languages.title_lang")}</option
					>
					{
						Object.keys(languages).map((option) => (
							<option value={option}>{languages[option]}</option>
						))
					}
				</select>
				<a
					class="border-2 rounded-md p-2 border-yellow-400"
					href={localizePath("/auth/signup")}
					id="link-signup">{t("landing.anchors.signup")}</a
				>
				<a
					class="border-2 rounded-md p-2 border-yellow-400"
					href={localizePath("/auth/signin")}
					id="link-signin">{t("landing.anchors.signin")}</a
				>
			</div>
		</nav>
	</main>
</Layout>
<style></style>
<script>
	import { soundManager } from "../../sounds/soundManager";

	const linkSignup = document.querySelector("#link-signup");
	const linkSignin = document.querySelector("#link-signin");
	const selectLanguage = document.querySelector("select");

	linkSignin.addEventListener("mouseover", () => {
		soundManager("hover");
	});
	linkSignup.addEventListener("mouseover", () => {
		soundManager("hover");
	});

	selectLanguage.addEventListener("click", () => {
		soundManager("click");
	});

	selectLanguage.addEventListener("change", () => {
		if (!(selectLanguage.value === "es")) {
			window.location.href = "/";
		} else {
			window.location.href = "/es";
		}
	});
</script>
