---
import { HeadHrefLangs } from "astro-i18next/components";
import i18next, { t } from "i18next";
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("landing.brand")}</title>
		<HeadHrefLangs />
	</head>
	<body>
		<slot />
		<style is:global></style>
	</body>
</html>
